PORT=3000
MONGODB_URI=<YOUR_MONGODB_URI_HERE>
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=<YOUR ACCESS SECRET>
ACCESS_TOKEN_EXPIRY=1D
REFRESH_TOKEN_SECRET=<YOUR REFRESH TOKEN>
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_NAME= <YOUR CREDENTIAL>
CLOUDINARY_API_KEY= <YOUR CREDENTIAL>
CLOUDINARY_SECRET_KEY= <YOUR CREDENTIAL>